/*selector universal*/
* {
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box; }

/* modifico body*/
body {
  background-image: url("/imagenes/imagen.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed; }

/*menu principal de los 5 html*/
.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 12px 15px 6px 3px #393a39;
  width: 98%; }
  .contenedor .logo {
    background-position: cover;
    padding: 0.5rem;
    margin: 0.5rem; }
  .contenedor .navegacion {
    width: 90%; }
  .contenedor .cajaUl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%; }
  .contenedor .menu {
    text-decoration: none;
    padding: 0.4rem;
    margin: 0.4rem;
    color: #8c2721;
    font-size: 1.3rem; }
  .contenedor a:hover {
    background-color: rgba(240, 249, 240, 0.903);
    color: #ABEBC6;
    border-radius: 10px; }
  .contenedor a:active {
    color: #8c2721; }

/* segmento de todos los 5 html en la prate principal*/
section .flexImagen {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 90%;
  margin-top: 0.2rem; }
  section .flexImagen img {
    padding: 0.3rem;
    margin: 0.5rem;
    border-radius: 1rem;
    width: 50%; }

/*mixin de propiedades de los titulos*/
section h1 {
  text-align: center;
  text-shadow: 3px 3px 4px #393a39; }

/*implemento grid en el index, nosotros, cursos*/
/* medidas de las imagenes*/
.gridContainer .implementar img, .gridContainer .capacitar img, .gridContainer .auditar img, .gridContainer .tramitar img {
  width: 80%; }

/* areas del grid container*/
.gridContainer .implementar, .gridContainer .capacitar, .gridContainer .auditar, .gridContainer .tramitar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8rem;
  background-color: #ABEBC6; }

/*propiedades de los parrafos*/
section .flexImagen p, section p, .gridContainer .implementar div p, .gridContainer .capacitar div p, .gridContainer .auditar div p, .gridContainer .tramitar div p, .footerContainer p, section ul, footer p, .gridContainer .implementar ol, .gridContainer .capacitar ol, .gridContainer .auditar ol, .gridContainer .tramitar ol {
  background-color: #f3f4f4;
  box-shadow: 12px 15px 6px 3px #393a39;
  padding: 1rem;
  margin: 0.5rem;
  font-size: 1.1rem; }

/*propiedades de los titulos*/
section h1 {
  color: black;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 1.5rem; }

.gridContainer .implementar div h2, .gridContainer .capacitar div h2, .gridContainer .auditar div h2, .gridContainer .tramitar div h2, .flexVideo .cajaVideo h2, section h2 {
  color: black;
  text-transform: uppercase;
  font-size: 1.3rem;
  padding: 0.5rem;
  margin: 1rem; }

/*propiedades web servicios*/
section ul, .gridContainer .implementar ol, .gridContainer .capacitar ol, .gridContainer .auditar ol, .gridContainer .tramitar ol {
  list-style-position: inside; }

.gridContainer {
  width: 100% auto;
  padding: 1rem;
  margin: 0.5rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  grid-template-areas: "implementar capacitar" "auditar tramitar"; }
  .gridContainer .implementar {
    grid-area: implementar; }
    .gridContainer .implementar div h2 {
      text-align: center;
      text-shadow: 3px 3px 4px #393a39; }
  .gridContainer .capacitar {
    grid-area: capacitar; }
    .gridContainer .capacitar div h2 {
      text-align: center;
      text-shadow: 3px 3px 4px #393a39; }
  .gridContainer .auditar {
    grid-area: auditar; }
    .gridContainer .auditar div h2 {
      text-align: center;
      text-shadow: 3px 3px 4px #393a39; }
  .gridContainer .tramitar {
    grid-area: tramitar; }
    .gridContainer .tramitar div h2 {
      text-align: center;
      text-shadow: 3px 3px 4px #393a39; }

/*Aplico flexbox  a contenedor video*/
.flexVideo {
  width: 100% auto;
  padding: 1rem;
  margin: 0.5rem;
  display: flex;
  align-items: center; }
  .flexVideo .cajaVideo {
    width: 100% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 0.12rem solid #b4b0b0;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #ABEBC6; }
    .flexVideo .cajaVideo video {
      width: 100%;
      padding: 0.5rem;
      margin: 0.3rem; }
    .flexVideo .cajaVideo h2 {
      text-align: center;
      text-shadow: 3px 3px 4px #393a39;
      color: black; }

/*creacion de redes sociales*/
.footerContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse; }
  .footerContainer nav ul {
    list-style: none; }
    .footerContainer nav ul li a img {
      width: 30px; }
      .footerContainer nav ul li a img:hover {
        transform: translateX(15px);
        transition: all 0,2s linear ease ease-out; }

/*modificando propidades web nosotros*/
section h2 {
  text-align: center;
  text-shadow: 3px 3px 4px #393a39; }

/*modificando propidades web servicios*/
.medidaImagen {
  width: 40%; }

.flexContainer {
  display: flex;
  align-items: center;
  flex-direction: column; }

.boton {
  text-decoration: none;
  padding: 10px;
  font-weight: 600px;
  font-size: 20px;
  color: #ffffff;
  background-color: #909493;
  border-radius: 6px;
  border: 2px solid black;
  margin: 2rem; }

.boton:hover {
  color: #151616;
  background-color: #ffffff; }

@media screen and (max-width: 735px) {
  .flexImagen {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
  .gridContainer {
    grid-template-areas: "implementar implementar" "capacitar capacitar" "auditar auditar" "tramitar tramitar"; }
  .flexVideo {
    display: flex;
    flex-wrap: wrap; } }
