@import "scss/components/inicio";
@import "scss/components/header";
@import "scss/components/principal";
@import "scss/components/secction";
@import "scss/components/gridContainer";
@import "scss/components/flexVideo";
@import "scss/components/footerContainer";
@import "scss/base/variables";


@media screen and (max-width: 735px){

    .flexImagen{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    
    }
  
    .gridContainer{
   
      grid-template-areas: 
      "implementar implementar"
      "capacitar capacitar"
      "auditar auditar"
      "tramitar tramitar"
      ;
      
    }
  
    .flexVideo{
      display: flex;
      flex-wrap: wrap;
    }
  
    .cursosContainer{
  
      grid-template-areas:
      "calidad calidad"
      "seguridad seguridad"
      "procesos procesos"
      "regulacion regulacion";
      
    }
    .serviciosContainer{
  
      grid-template-areas:
      "sistemas sistemas"
      "auditorias auditorias"
      "capacitacion capacitacion"
      "tramites tramites"
      "asesor asesor";
  
    }
}




