/*implemento grid en el index, nosotros, cursos, servicios*/
@import "base/variables";
@import "base/extends";
.gridContainer{
    width: 100% auto;
    padding: 1rem;
    margin: 0.5rem;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    grid-template-areas: 
    "implementar capacitar" "auditar tramitar";

    .implementar{
        grid-area: implementar;
        @extend %area;

        img{
            @extend %imagen; 
        }
            
        div{
            h2{
                text-align: center;
                text-shadow: 3px 3px 4px $colorShadow;
                @extend %titulos2;
                
               
            }
    
            p{
               @extend %parrafo;
            }
        }

        

       
    }

    .capacitar{
        grid-area: capacitar;
        @extend %area;


        img{
            @extend %imagen; 
        }
        div{
            h2{
                text-align: center;
                text-shadow: 3px 3px 4px $colorShadow;
                @extend %titulos2;
            }
    
            p{
                @extend %parrafo;
            }
        }
        
       

    }
    

    .auditar{
        grid-area: auditar;
        @extend %area;

        img{
            @extend %imagen; 
        }

       div{
        h2{
            text-align: center;
            text-shadow: 3px 3px 4px $colorShadow;
            @extend %titulos2;
        }

        p{
            @extend %parrafo;
        }
       }

    }

    .tramitar{
        grid-area: tramitar;
        @extend %area;

    
        img{
            @extend %imagen; 
        }
        
       div{
        h2{
            
            text-align: center;
            text-shadow: 3px 3px 4px $colorShadow;
            @extend %titulos2;
        }

        p{
            @extend %parrafo;
        }
       }
       
      
    }

}