/* medidas de las imagenes*/

%imagen{
    width: 80%;
 
}

/* areas del grid container*/

%area{
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 0.8rem;
    background-color:$colorPrincipal;
    border-radius: 0.2rem;
    
}

/*propiedades de los parrafos*/

%parrafo{
    background-color: $colorParrafo;
    box-shadow: 12px 15px 6px 3px $colorShadow ;
    padding: 1rem;
    margin:0.5rem;
    font-size:1.1rem; 
}

/*propiedades de los titulos*/

%titulos1{
    @include bolsa($colorTitulos,uppercase,1.5rem,0.5rem,1.5rem,); 
}

%titulos2{
 @include bolsa($colorTitulos,uppercase,1.3rem, 0.5rem,1rem,);
}

/*propiedades web servicios*/
%listas{
    list-style-position: inside;  
}

%poder{

    transform: scale(1.1);
    transition: all;
}

%compartir{
    @extend %parrafo;
    @extend %listas;
}

