$colorPrincipal: #ABEBC6;
$colorParrafo: #f3f4f4;
$colorTitulos: black;
$colorHover: rgba(240, 249, 240, 0.903);
$colorActive: #8c2721;
$colorBorder: rgb(180, 176, 176);
$colorShadow: #393a39;
$colorBoton1:  #ffffff;
$colorBoton2: #909493;
$colorBoten: #151616;